.scan-result {
    margin-top: 20px;
}

.history-section {
    margin-top: 20px;
}

.history-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-bottom: 1px solid #d8dde6;
}

@media(max-width:768px){

    .history-item{
        font-size:12px;
        word-break:break-word;
    }
}